<form class="px-4 py-3" action="loginow" method="post">
    <div class="mb-3">
        <b> Email address :</b>
        <input type="email" class="form-control"
            placeholder="email@example.com" name="emaillog">
    </div>
    <div class="mb-3">
        <b>Password:</b>
        <input type="password" class="form-control"
            placeholder="Password" name="passwordlog">
    </div>
    <div class="mb-3">
        <b>Remember me:</b> <input type="checkbox"
            class="form-check-input" id="dropdownCheck">
    </div><br><br>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>