<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/login.css">
</head>
<body>
<div id="whole">
  <div class="stick"> <marquee>
     <img src ="/images/up1.jpg" height=150px width=250px></img>
     <img src ="/images/th.jpeg" height=150px width=250px></img>
     <img src ="/images/up3.png" height=150px width=250px></img>
     <img src ="/images/OIP.jpg" height=150px width=250px></img>
     <img src ="/images/up2.jpeg" height=150px width=250px></img></marquee>
 </div>

 <div id="h11"><div class="h1"><h1 style = "text-align:center">HAVE &nbsp  A  &nbsp NICE &nbsp  AND &nbsp HEALTHY &nbsp LIFE<br>let's Start from TODAY only!! </h1>
  <h1 style = "text-align:center"><Font size = 5000>FITNESS Awareness..</font></h1></div></div>
  <div class="click"><marquee>" {{Name}} " Click on the area you want to IMPROVE according To your LEVEL</marquee></div>

  <div class="container text-center">
    <div class="row">
      <div class="col-lg-3 align-self-center">
        <h2><font color = "Lime">ARMS</font></h2>
        <div class="large"><img src="/images/arms.jpeg" height="190px" width="200px"><br><br></div>
        <div class="row text-center"><div class="beg"><a href = "https://www.youtube.com/watch?v=UyTR2EjTAXU"><b><font size=5 font color="darkred" class="arms">Beginner level</font></b></a></div></div><br><br>
        <div class="row text-center"><div class="inter"><a href = "https://www.youtube.com/watch?v=iDhJl4WIG_k"><b><font size=5 font color="darkred" class="arms">Intermediate level</font></b></a></div></div><br><br>
        <div class="row text-center"><div class="intense"><a href = "https://www.youtube.com/watch?v=jDvdHXpA1Eg"><b><font size=5 font color="darkred" class="arms">Intense level</font></b></a></div></div><br><br>
      </div>
      <div class="col-lg-3 align-self-center">
        <h2><font color = "Lime">Chest</font></h2>
        <div class="large"><img src = "/images/chest.jpg" height = 190px width="200px"></img><br><br></div>
        <div class="row text-center"><div class="beg"><a href = "https://www.youtube.com/watch?v=UyTR2EjTAXU"><b><font size=5 font color="darkred" class="chest">Beginner level</font></b></a></div></div><br><br>
        <div class="row text-center"><div class="inter"><a href = "https://www.youtube.com/watch?v=iDhJl4WIG_k"><b><font size=5 font color="darkred" class="chest">Intermediate level</font></b></a></div></div><br><br>
        <div class="row text-center"><div class="intense"><a href = "https://www.youtube.com/watch?v=jDvdHXpA1Eg"><b><font size=5 font color="darkred" class="chest">Intense level</font></b></a></div></div><br><br>
      </div>
      <div class="col-lg-3 align-self-center">
        <h2><font color = "Lime">Stomach</font></h2>
        <div class="large"><img src = "/images/stomach.jpg" height = 190px width="200px"></img><br><br></div>
        <div class="row text-center"><div class="beg"><a href = "https://www.youtube.com/watch?v=UyTR2EjTAXU"><b><font size=5 font color="darkred" class="stomach">Beginner level</font></b></a></div></div><br><br>
        <div class="row text-center"><div class="inter"><a href = "https://www.youtube.com/watch?v=iDhJl4WIG_k"><b><font size=5 font color="darkred" class="stomach">Intermediate level</font></b></a></div></div><br><br>
        <div class="row text-center"><div class="intense"><a href = "https://www.youtube.com/watch?v=jDvdHXpA1Eg"><b><font size=5 font color="darkred" class="stomach">Intense level</font></b></a></div></div><br><br>
      </div>
      <div class="col-lg-3 align-self-center">
        <h2><font color = "Lime">Legs</font></h2>
        <div class="large"><img src = "/images/legs.jpeg" height = 190px width="200px"></img><br><br></div>
          <div class="row text-center"><div class="beg"><a href = "https://www.youtube.com/watch?v=UyTR2EjTAXU"><b><font size=5 font color="darkred" class="legs">Beginner level</font></b></a></div></div><br><br>
          <div class="row text-center"><div class="inter"><a href = "https://www.youtube.com/watch?v=iDhJl4WIG_k"><b><font size=5 font color="darkred" class="legs">Intermediate level</font></b></a></div></div><br><br>
          <div class="row text-center"><div class="intense"><a href = "https://www.youtube.com/watch?v=jDvdHXpA1Eg"><b><font size=5 font color="darkred" class="legs">Intense level</font></b></a></div></div><br><br>
        </div>
    </div>
  </div>
</div>

  <div id="footer">
    <div class="foothead">
      <h3 class="SportsWorkout">Sports-Workout</h3>
      <p1 class="SportsWorkout">Let's do it <sup>sw</sup></p1>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <ul>
            <li><a class="demi" href="">Healthy-Living</a></li><br>
            <li><a class="demi" href="">Fitness</a></li><br>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><a class="demi" href="">Healthy-Recipes</a></li><br>
            <li><a class="demi" href="">Experts</a></li><br>
          </ul> 
        </div>
        <div class="col">
          <ul>
            <li><a class="demi" href="">Tutorials</a></li><br>
            <li><a class="demi" href="">Our-Team</a></li><br>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><a class="demi" href="">Community</a></li><br>
            <li><a class="demi" href="">Call-US</a></li><br>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="end">
        <p1 id="Copyright">
          Copyright © 2022 Sports-Workout. All rights reserved.
          <a href="" class="demi">Terms of Use</a>
          <a href="" class="demi">Privacy Policy</a>
        </p1>
      </div>
    </div>
  </div>
  <!-- Footer ENDED -->
<script>
    alert("Welcome!!")
setInterval(function(){
    h11.classList.toggle("h111")
},1000)
</script>
</body>
</html>